/* ====   Fading   ====*/
.fadein{
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 13.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 13.1 */
            animation: fadein 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* ====   Fading  Right ====*/
.fadeinX{
    -webkit-animation: fadeinX 2s; /* Safari, Chrome and Opera > 13.1 */
       -moz-animation: fadeinX 2s; /* Firefox < 16 */
        -ms-animation: fadeinX 2s; /* Internet Explorer */
         -o-animation: fadeinX 2s; /* Opera < 13.1 */
            animation: fadeinX 2s;
}

@keyframes fadeinX {
    0% {
      opacity: 0;
      transform: translateX(50%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
}

/* Firefox < 16 */
@-moz-keyframes fadeinX {
    0% {
      opacity: 0;
      transform: translateX(50%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeinX {
    0% {
      opacity: 0;
      transform: translateX(50%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
}

/* Internet Explorer */
@-ms-keyframes fadeinX {
    0% {
      opacity: 0;
      transform: translateX(50%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
}

/* Opera < 12.1 */
@-o-keyframes fadeinX {
    0% {
      opacity: 0;
      transform: translateX(50%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
}

/* ====   Fading  Left ====*/
.fadeinLeft{
    -webkit-animation: fadeinLeft 2s; /* Safari, Chrome and Opera > 13.1 */
       -moz-animation: fadeinLeft 2s; /* Firefox < 16 */
        -ms-animation: fadeinLeft 2s; /* Internet Explorer */
         -o-animation: fadeinLeft 2s; /* Opera < 13.1 */
            animation: fadeinLeft 2s;
}

@keyframes fadeinLeft {
    0% {
      opacity: 0;
      transform: translateX(-50%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
}

/* Firefox < 16 */
@-moz-keyframes fadeinLeft {
    0% {
      opacity: 0;
      transform: translateX(-50%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeinLeft {
    0% {
      opacity: 0;
      transform: translateX(-50%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
}

/* Internet Explorer */
@-ms-keyframes fadeinLeft {
    0% {
      opacity: 0;
      transform: translateX(-50%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
}

/* Opera < 12.1 */
@-o-keyframes fadeinLeft {
    0% {
      opacity: 0;
      transform: translateX(-50%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
}

.slidein-bannertext{
    -webkit-animation: slidein 2s;
    -moz-animation: slidein 2s;
    animation: slidein 2s;
}
@keyframes slidein{
    from { bottom: 0; };
    to   {  bottom: 35%;}
}
@-moz-keyframes slidein{
    from { bottom: 0; };
    to   {  bottom: 35%;}
}
@-webkit-keyframes slidein{
    from { bottom: 0; };
    to   {  bottom: 35%;}
}
.slidetop-bannertext{
    -webkit-animation: slidetop 2s;
    -moz-animation: slidetop 2s;
    animation: slidetop 2s;
}
@keyframes slidetop{
    from { top: 0; };
    to   {  top: 35%;}
}
@-moz-keyframes slidetop{
    from { top: 0; };
    to   {  top: 35%;}
}
@-webkit-keyframes slidetop{
    from { top: 0; };
    to   {  top: 35%;}
}
  .slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 2s;
      -webkit-animation-duration: 2s;
      visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(50%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(50%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
    .slideanimX {visibility:hidden;}
  .slideX{
      animation-name: slideX;
      -webkit-animation-name: slideX;
      animation-duration: 2s;
      -webkit-animation-duration: 2s;
      visibility: visible;
  }
  @keyframes slideX {
    0% {
      opacity: 0;
      transform: translateX(50%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }
  @-webkit-keyframes slideX {
    0% {
      opacity: 0;
      -webkit-transform: translateX(50%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0%);
    }
  }
  /*Slide From Left*/
  .slideanimLeft {visibility:hidden;}
  .slideLeft{
      animation-name: slideLeft;
      -webkit-animation-name: slideLeft;
      animation-duration: 2s;
      -webkit-animation-duration: 2s;
      visibility: visible;
  }
  @keyframes slideLeft {
    0% {
      opacity: 0;
      left: -100%;
    }
    100% {
      opacity: 1;
      left: 0%;
    }
  }

/*Tab Animation*/
.fade{
  transition: opacity 0.2s ease !important;
}

/* ====   Fading Top  ====*/
.fadeinTop{
    -webkit-animation: fadeinTop 2s; /* Safari, Chrome and Opera > 13.1 */
       -moz-animation: fadeinTop 2s; /* Firefox < 16 */
        -ms-animation: fadeinTop 2s; /* Internet Explorer */
         -o-animation: fadeinTop 2s; /* Opera < 13.1 */
            animation: fadeinTop 2s;
}

@keyframes fadeinTop {
    0% {
      opacity: 0;
      transform: translateY(50%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
}

/* Firefox < 16 */
@-moz-keyframes fadeinTop {
    0% {
      opacity: 0;
      transform: translateY(50%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeinTop {
    0% {
      opacity: 0;
      transform: translateY(50%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
}

/* Internet Explorer */
@-ms-keyframes fadeinTop {
    0% {
      opacity: 0;
      transform: translateY(50%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
}

/* Opera < 12.1 */
@-o-keyframes fadeinTop {
    0% {
      opacity: 0;
      transform: translateY(50%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
}

/* ====   Fading Bottom  ====*/
.fadeinDown{
    -webkit-animation: fadeinDown 2s; /* Safari, Chrome and Opera > 13.1 */
       -moz-animation: fadeinDown 2s; /* Firefox < 16 */
        -ms-animation: fadeinDown 2s; /* Internet Explorer */
         -o-animation: fadeinDown 2s; /* Opera < 13.1 */
            animation: fadeinDown 2s;
}

@keyframes fadeinDown {
    0% {
      opacity: 0;
      transform: translateY(-50%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
}

/* Firefox < 16 */
@-moz-keyframes fadeinDown {
    0% {
      opacity: 0;
      transform: translateY(-50%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeinDown {
    0% {
      opacity: 0;
      transform: translateY(-50%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
}

/* Internet Explorer */
@-ms-keyframes fadeinDown {
    0% {
      opacity: 0;
      transform: translateY(-50%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
}

/* Opera < 12.1 */
@-o-keyframes fadeinDown {
    0% {
      opacity: 0;
      transform: translateY(-50%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
}

#back-top {
  position: fixed;
  display:none;
  font-size: 50px;
  bottom:20px;
  right:20px;
  width:auto;
  z-index: 10;
}
a#back-top:active {
  background:none;
}
a#back-top {
  display: block; text-decoration: none;
}
.topup {
  bottom:5px;
}
#back-top img {
  display: block;
}